<section class="short_description">
    <h3>Tudd meg, hogy <font color="#5BC536" style="text-shadow: none;"><u>növelheted</u></font> megtakarításodat <br> a mindennapokban.</h3>
    <button id="getIn" type="button" class="btn btn-primary" onclick="render('register'); showMessage('info', 'Ahhoz, hogy megtanulj ember lenni a pénzed felett, regisztrálnod kell!', 7);">Kezdj bele most...</button>
</section>

<section class="details_about_application">
</section>

<section class="current_statistics">
    <div class="currentMembersNum">
        <div id="memberNum" class="numbers">0</div>
        <h5>Ügyfelek száma</h5>
    </div>
    <div class="totalData">
        <div id="dataNum" class="numbers">0</div>
        <h5>Tárolt adatok <br> a bevételről/kiadásról</h5>
    </div>
</section>

<div class="rightsReserveredText">
    &copy 2023-2050 Radics Ádám | All rights reserved.
</div>