<section class="register-wrapper">
    <h4>Regisztráció</h4>
    <div class="register-inputs" onkeyup="registerButtonCheck(this)">
        <input type="text" class="form-control" id="registerName" placeholder="Felhasználónév">
        <input type="email" class="form-control" id="registerEmail" placeholder="E-mail">
        <input type="password" class="form-control" id="registerPassword" placeholder="Jelszó">
        <button type="button" class="btn btn-primary" id="registerButton" disabled onclick="registerUser()">Regisztráció</button>
    </div>
</section>