.newdata-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: 5rem;
    left: 1rem;

    width: 100%;
    height: 100%;
}

.newdata-wrapper .newdata-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    width: 80%;
    height: auto;
}